CREATE VIEW [Мастера]
AS
SELECT Мастер.ID, 
Специальность.Название AS Специальность, 
ФИО, [Дата рождения], Адрес, Телефон 
FROM Мастер JOIN Специальность ON Мастер.Специальность = Специальность.ID
GO
